.addFileBlock {
    padding: 15px 0;
    display: flex;
    gap: 10px;
}
.spanStl {
    display: inline-block;
}
.icon {
    display: inline-block;
    padding: 2px;
    width: 25px;
    height: 20px;
    background: gray;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;

}