.error {
    min-height: 20px;
    font-size: 15px;
    color: red;
    margin-bottom: 5px;
}

.avatar {
    text-align: center;
    padding-bottom: 10px;
}

.avatar img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profileTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
}

.info {
    display: flex;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    word-wrap: break-word;
    color: #555555;
}

.btnWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}