.header {
    height: 60px;
    background: #EBE0E9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #2D2E46;
    padding: 20px 10px;
    opacity: 0.4;
    width: 129px;
    min-width: 90px;
    font-size: 17px;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    background-color: #DCCCDB;
    opacity: 1;
}

.packsLink,
.profileLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.packsLink img,
.profileLink img {
    width: 20px;
}

.isActive {
    border-bottom: 2px #21268F solid;
    background-color: #DCCCDB;
    opacity: 1;
}

.btnLogoutContainer {
    position: absolute;
    right: 3%;
}

.btnLogout {
    outline: none;
    background-color: #DCCCDB;
    border: none;
    text-decoration: none;
    color: #2D2E46;
    padding: 20px 30px;
    opacity: 0.4;
    font-size: 17px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}

.btnLogout:hover,
.btnLogout:active,
.btnLogout:focus {
    background-color: #DCCCDB;
    opacity: 1;
    border-bottom: 2px #21268F solid;
}

@media (max-width: 553px) {
    .header {
        position: inherit;
    }

    .btnLogoutContainer {
        position: inherit;
    }
}