.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.frame {
    background: #F9F9FE;
    border-radius: 8px;
    padding: 25px 33px;
    min-width: 350px;
}