.loading_line {
    position: absolute;
    height: 5px;
    background-color: #003465;
    left: 0;
    animation: animation_line 4s infinite ease;
}

@keyframes animation_line {
    0% {
        padding-right: 1px;
    }
    50% {
        padding-right: 40%;
    }
    99% {
        padding-right: 100%;
    }
    100% {
        padding-right: 0;
    }
}