* {
    box-sizing: border-box;
}
.page {
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background: #F9F9FE;
    border-radius: 8px;
    padding: 25px 33px;
}
.input {
    margin-bottom: 20px;
    text-align: left;
}
.error {
    color: red;
    font-weight: 700;
    border: 1px solid red;
    padding: 5px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 300px;
}