.input {
    margin-bottom: 20px;
    text-align: left;
}

.error {
    color: red;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.linkLogin {
    text-decoration: none;
}

.signUpText {
    display: inline;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
    border: 2px solid #F9F9FE;
}

.signUpText:hover {
    border-bottom: 2px solid #21268F;
}