* {
    box-sizing: border-box;
}
.page {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 300px;
    min-height: 450px;
    background: #F9F9FE;
    border-radius: 8px;
    padding: 25px 33px;
}
.container span strong {
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}
.container h2{
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: right;
}
.container label{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}
.input {
    margin-bottom: 20px;
    text-align: left;
}
.error {
    color: red;
    font-weight: 700;
    border: 1px solid red;
    padding: 5px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 300px;
}