.superInput {
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 15px;
    width: 100%;
    height: 50px;
}

.superInput:focus {
    outline: none;
    border: 1px solid #21268F;
}

.errorInput {
    outline: none;
    border-right: 5px solid red;
}

.error {
    display: flex;
}
