.table {
    position: relative;
    box-shadow: 0px 4px 14px rgba(45, 46, 70, 0.15);
    width: 100%;
    background: #fff;
    text-align: left;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    margin: 24px 0;
    overflow: auto;
    flex-grow: 1;
    scrollbar-width: thin;
}

.table::-webkit-scrollbar {
    width: 4px;
    background-color: #E6D4DE;
}

.table::-webkit-scrollbar-thumb {
    background-color: #9890C7;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 120px 120px;
    align-items: center;
    grid-gap: 0 30px;
    padding: 16px 24px;
}

.itemMy {
    display: grid;
    grid-template-columns: 1fr 1fr 120px 120px 120px;
    align-items: center;
    grid-gap: 0 30px;
    padding: 16px 24px;
}

.item:nth-child(odd),
.itemMy:nth-child(odd) {
    background: #F8F7FD;
}

.item.header,
.itemMy.header {
    background: #ECECF9;
    font-weight: 700;
    position: sticky;
    top: 0;
}

.item a,
.itemMy a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

.button, a.button {
    font-weight: 600;
    color: #21268F;
    padding: 6px;
    border: none;
    background: #D7D8EF;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-right: 6px;
    transition: 0.4s all;
}

.button:hover, a.button:hover {
    background: #21268F;
    color: #fff;
}

.delete {
    background: #F1453D;
    color: #fff;
}

.delete:hover {
    background: darkred;
}

.header div {
    cursor: pointer;
}

.header div.active:after {
    content: '';
    border: 5px solid transparent;
    border-top-color: #2D2E46;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 4px;
}

.header div.active.up:after {
    transform: rotate(180deg) translateY(5px);
}

.item a,
.itemMy a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    word-break: break-all;
}

/*.item a, .item div,*/
/*.itemMy a, .itemMy div {*/
/*    word-break: break-all;*/
/*}*/

.rating_result {
    display: inline-block;
    vert-align: bottom;
    font-size: 0;
}

.rating_result span {
    padding: 0;
    font-size: 12px;
    line-height: 1;
    color: #D7D8EF;
}

.rating_result > span:before {
    content: '★';
}

.rating_result > span.active {
    color: #21268F;
}

.textArea {
    margin-bottom: 20px;
    text-align: left;
}

@media (max-width: 900px) {
    .item {
        grid-template-columns: 1fr 1fr 120px 60px;
        grid-gap: 10px;
    }

    .itemMy {
        grid-template-columns: 1fr 1fr 120px 60px;
        grid-gap: 10px;
    }

    .itemMy.header div:last-child {
        display: none;
    }

}

@media (max-width: 630px) {
    .item {
        grid-template-columns: 1fr 150px 70px;
        grid-gap: 20px;
    }

    .itemMy {
        grid-template-columns: 1fr 180px 100px 30px;
    }

    .rating_result {
        display: none;
    }

    .item.header div:last-child {
        display: none;
    }

    .itemMy.header div:nth-last-child(2) {
        display: none;
    }

    .itemMy .rating_result {
        display: none;
    }
}

@media (max-width: 560px) {
    .itemMy.header div:nth-last-child(3) {
        display: none;
    }

    .item {
        grid-template-columns: 1fr 120px 100px;
        grid-gap: 16px;
    }

    .itemMy {
        grid-template-columns: 1fr 230px;
    }
}


@media (max-width: 460px) {
    .table {
        margin: 10px 0;
    }

    .item {
        grid-template-columns: 1fr 180px;
        grid-gap: 16px;
    }
    .itemMy {
        grid-template-columns: 1fr 180px;
    }

    .item div:last-child {
        grid-column: 1/3;
    }
    .itemMy div:last-child {
        grid-column: 1/3;
    }
}