.superInput {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
    background-color: gold;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    box-shadow: 3px 0px 5px rgba(66,66,66,.80);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}