* {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%) no-repeat;
    min-height: 100vh;
}

p {
    font-style: normal;
    font-weight: 400;
    /*line-height: 24px;*/
    text-align: center;
    color: #2D2E46;
}